ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
li {
  /* text-transform: capitalize; */
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.weather-app {
  max-width: 600px;
  margin: 20px auto;
}
.weather-app-container {
  padding: 20px;
  border: 1px solid #737a89;
  border-radius: 3px;
  margin-bottom: 10px;
}

.search-form {
  padding-top: 10px;
  padding-bottom: 15px;
}

.button {
  margin-left: 0px;
  border-radius: 4px;
  border: none;
  width: 100%;
  text-align: center;
}

#current-place-button {
  background: #25b63e;
  color: #ffffff;
}
.current_weather_block {
  color: #737a89;
}
.column1,
.column4 {
  font-size: 15px;
  text-align: left;
}

.degrees {
  text-decoration: none;
}
.currentTemp {
  color: #0d6efd;
  font-size: 50px;
  text-align: left;
}

.current_weather_picture {
  width: 75px;
  height: 75px;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.units {
  position: relative;
  top: -25px;
  font-size: 16px;
}
.humidity-wind {
  margin-left: 10px;
}
.cityName {
  font-size: 40px;
  color: #202022;
}

.daily_weather {
  font-size: 100%;
  text-align: center;
  color: #737a89;
  margin-top: 15px;
}
.daily_weather_picture_rain {
  width: 75%;
}
.day_temp {
  color: #ed3a2f;
}
.night_temp {
  color: #737a89;
}
.githubLink {
  font-size: 1rem;
  text-decoration: none;
  font-size: small;
}
